<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChuQRCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8B8B0471DB3A85700924B05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8B8B0601DB3A85700924B05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8B8B06B1DB3A85700924B05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
